<nav>
    <a href="{% url 'member_list' %}">Home</a> |
    <a href="{% url 'workout_plan' %}">Workout Plan</a> |
    <a href="{% url 'diet_plan' %}">Diet Plan</a>
</nav>
<hr>



{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">


<h2>Gym Members</h2>
<a href="{% url 'member_create' %}">Add New Member</a>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Membership Type</th>
    <th>Actions</th>
  </tr>
  {% for member in members %}
  <tr>
    <td>{{ member.name }}</td>
    <td>{{ member.age }}</td>
    <td>{{ member.membership_type }}</td>
    <td>
      <a href="{% url 'member_update' member.id %}">Edit</a>
      <a href="{% url 'member_delete' member.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
